* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.inventory-container,
.cart-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-list,
.cart-wrapper {
  width: 100%;
}

.inventory-list,
.cart-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inventory-list li,
.cart-list li {
  display: flex;
  align-items: center;
  background: #e1dac8;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

.inventory-list li {
  justify-content: space-around;
}

.cart-list li {
  justify-content: center;
  gap: 1rem;
}

.minus-btn,
.plus-btn {
  padding: 0.2rem 0.5rem;
}
